body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.emoji {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.emoji h2 {
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}


.emoji p {
  margin: 1rem 0;
  color: #555;
  flex-grow: 1;
}


.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  display: block;
  margin-top: auto;
}

.emoji a:hover {
  background-color: #5e1480;
}

@media (max-width: 768px) {
  .emojis {
      grid-template-columns: 1fr;
  }
}
